* {
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .25vw;
}

body {
    height: 100vh;
    width: 100vw;
    background-size: auto;
    display: flex;
    justify-content: center;
    background-image: url('./Assets/RandomAttackBackground_desktop.jpg');
    background-position: 20% 60%;
}

main {
    
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: flex-end;
    justify-content: space-evenly;
}

#gameMessages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background-color: rgba(78, 74, 74, .7);
    height: 30vh;
    width: 60vw;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 15px;
    margin-right: 30px;
}

.message {
    color: white;
    font-size: 35px;
    text-shadow: 1px black;
    text-align: center;
}

#gameStats {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    margin-top: 60px;
}

#playerStats {
    width: 45%;
    height: 100%;
}

#computerStats {
    width: 45%;
    height: 100%;
}

.pHealthBar {
    border: 3px solid rgb(255, 255, 255);
    height: 30px;
    background-color: rgb(12, 5, 104);
    width: 100;
    margin-bottom: 0;
    border-radius: 10px;
}

.cHealthBar {
    border: 3px solid rgb(255, 255, 255);
    height: 30px;
    background-color: rgb(12, 5, 104);
    width: 100;
    border-radius: 10px;
}

.playerHealthText {
    font-size: 45px;
    color: white;
    margin: 0;
}

#pHealthNumber {
    margin-left: 30px;
}

.computerHealthText {
    font-size: 45px;
    color: white;
    margin: 0;
}

#cHealthNumber {
    margin-left: 30px;
}

#playerRolls {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 2px; 
}

#computerRolls {
    color: white;
    font-size: 30px;
    margin-top: 2px;
}

.controlPanel {
    background-color:rgb(46, 43, 43);
    border: 3px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    height: 50%;
    width: 40%;
    border-radius: 15px;
    margin-right: 30px;
    margin-bottom: 20px;
    
}

#resetButton {
    font-size: 20px;
    width: 80%;
    height: 25%;
    margin: 10px;
    cursor: pointer;
}

.rollDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid white;
    width: 90%;
}

#rollReadout {
    height: 60px;
    width: 100%;
    border: 3px solid white;
    font-size: 70px;
    color: rgb(48, 48, 48);
    text-align: center;
}

#rollButton {
    color: rgb(0, 0, 0);
    font-size: 30px;
    border: 3px solid white; 
    background-color: rgb(247, 231, 2);
    margin: 10px;
    width: 90%;
    height: 40%;
    cursor: pointer;
}

@media (max-width: 414px) {

main {
    background-image: url('./Assets/Background\ For\ Mobile.jpg');
    background-position: 0% 90%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#gameMessages {
    height: 15%;
    width: 86%;
}

#pHealthNumber {
    margin-left: 12px;
}
#cHealthNumber {
    margin-left: 12px;
}

.message {
    font-size: 20px;
}
#gameStats {
    align-self: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-right: 20%;
    width: 100%;
    height: 70%;
}

#playerStats {
    width: 40%;
    height: 30%;
}

#computerStats {
    width: 40%;
    height: 30%;
}

.pHealthBar {
    border: 3px solid rgb(255, 255, 255);
    height: 30px;
    background-color: green;
    width: 100;
    margin-bottom: 0;
    border-radius: 10px;
}
.cHealthBar {
    border: 3px solid rgb(255, 255, 255);
    height: 30px;
    background-color: green;
    width: 100;
    margin-bottom: 0;
    border-radius: 10px;
}



.playerHealthText {
    font-size: 30px;
}

.computerHealthText {
    font-size: 30px;
}

#playerRolls {
    font-size: 20px;
}

#computerRolls {
    font-size: 20px;
}

.controlPanel {
    height: 30%;
    width: 80%;
   
}

.rollDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#rollReadout {
    height: 60%;
    width: 100%;
    border: 3px solid white;
    font-size: 40px;
    color: rgb(48, 48, 48);
    text-align: center;
}

#rollButton {
    color: rgb(0, 0, 0);
    font-size: 30px;
    border: 3px solid white; 
    background-color: rgb(247, 231, 2);
    margin: 10px;
    width: 90%;
    height: 40%;
    cursor: pointer;
}
}
