* {
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .25vw;
    /* border: solid red 1px; */
}

body {
    height: 100vh;
    width: 100vw;
    background-size: auto;
    display: flex;
    justify-content: center;
    background-image: url('./Assets/RandomAttackBackground_desktop.jpg');
    background-position: 20% 60%;
}

main {
    
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: flex-end;
    justify-content: space-evenly;
}

#gameMessages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background-color: rgba(78, 74, 74, .7);
    width: 60%;
    min-height: 25%;
    border: 5px solid rgb(178, 178, 178);
    border-radius: 15px;
    margin-top: 15px;
    margin-right: 30px;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
}

.message {
    color: white;
    font-size: 35px;
    text-shadow: 1px black;
    text-align: center;
}

#gameStats {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    margin-top: 60px;
    text-shadow: 1px 1px 1px black;
}

#playerStats, #computerStats {
    width: 45%;
    height: 100%;
}

.shake {
  animation: shakeAnimation 0.5s ease-in-out; /* Example animation properties */
}

@keyframes shakeAnimation {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.pHealthBar, .cHealthBar {
    border: 3px solid rgb(255, 255, 255);
    height: 30px;
    background-color: rgb(12, 5, 104);
    width: 100;
    border-radius: 10px;
    box-shadow: 1px 2px 1px black;
}

.playerHealthText, .computerHealthText {
    font-size: 45px;
    color: white;
    margin: 0;
}

#pHealthNumber, #cHealthNumber {
    display: inline-block;
    position: relative;
    margin-left: 30px;
}

#playerRolls {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 2px; 
}

#computerRolls {
    color: white;
    font-size: 30px;
    margin-top: 2px;
}

.controlPanel {
    background-color:rgb(46, 43, 43);
    border: 3px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    height: 50%;
    width: 40%;
    border-radius: 15px;
    margin-right: 30px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px black;
}

#resetButton {
    font-size: 20px;
    width: 80%;
    height: 25%;
    margin: 10px;
    cursor: pointer;
}

.rollDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid white;
    width: 90%;
}

#rollReadout {
    height: 60px;
    width: 100%;
    border: 3px solid white;
    font-size: 70px;
    color: rgb(48, 48, 48);
    text-align: center;
}

#rollButton {
    color: rgb(0, 0, 0);
    font-size: 30px;
    border: 3px solid white; 
    background-color: rgb(247, 231, 2);
    margin: 10px;
    width: 90%;
    height: 40%;
    cursor: pointer;
}

#muteSound {
    background-color:brown;
    color: white;
    border: solid white 1px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
}